@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    margin: 0;
    padding: 0;
    --shadow-base: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    --font-gray: var(--cool-gray-700, #3f3f46);
    --accent-color: #7c3aed;
    --background-color: var(--cool-gray-200, #e5e7eb);
}

body {
    height: 100%;
}
